fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-multipart
jinja2
passlib[bcrypt]
python-jose[cryptography]
email-validator
requests
beautifulsoup4
python-dotenv
aiofiles
orjson
